#crud-page {
  display: flex;
  padding: 2rem 0 0 2rem;
  .form-place {
    display: flex;
    padding-left: 5rem;
    form {
      display: flex;
      flex-direction: column;
      .btns {
        display: flex;
        justify-content: space-between;
      }
    }
  }
  .dates-place {
    padding: 1% 0 0 5rem;
    display: flex;
    flex-direction: column;
    span:first-child {
      margin-bottom: 1rem;
    }
  }
}
