<div id="login">
  <form
    [formGroup]="form">
    <mat-form-field appearance="outline">
      <mat-label>E-mail</mat-label>
      <input
        formControlName="email"
        matInput
        placeholder="E-mail">
      <mat-icon
        class="cursor-pointer"
        matTooltip="You should input correct e-mail"
        *ngIf="form.controls.email.errors && form.controls.email.touched"
        matSuffix>error</mat-icon>
    </mat-form-field>
    <mat-form-field appearance="outline">
      <mat-label>Password</mat-label>
      <input
        formControlName="password"
        matInput
        [type]="hide ? 'password' : 'text'"
        placeholder="Password">
      <mat-icon
        class="cursor-pointer"
        (click)="hide = !hide"
        matSuffix
      >{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
      <mat-icon
        class="cursor-pointer"
        matTooltip="Password should be min 6 symbols length"
        *ngIf="form.controls.password.errors && form.controls.password.touched"
        matSuffix>error</mat-icon>
    </mat-form-field>
    <div class="login-buttons">
      <button
        [disabled]="form.invalid"
        mat-flat-button
        (click)="signUp()"
        color="primary">Sign up</button>
      <button
        [disabled]="form.invalid"
        mat-flat-button
        (click)="logIn()"
        color="primary">Login</button>
    </div>
     </form>
</div>
